<!DOCTYPE html>
<html lang="en" xmlns:sec="http://www.w3.org/1999/xhtml" xmlns:th="http://www.w3.org/1999/xhtml"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{fragments/layout}" >

<body>

<div layout:fragment="content" class="container">
    <div class="mb-3 text-center">
        <h2>Film Ekle</h2>
    </div>
    <div class="row">
        <div class="col-md-6 offset-md-3 mt-3 ">
            <form th:action="@{/add}" method="post" th:object="${movie}" >
                <div class="form-group mb-3">
                    <label class="control-label" for="name">
                        Film Adı
                    </label>
                    <input id="name" class="form-control" th:field="*{name}" placeholder="Film adını giriniz." autofocus="autofocus" required>
                </div>

                <div class="form-group mb-3">
                    <label class="control-label" for="releaseYear">
                        Yayın Yılı
                    </label>
                    <input id="releaseYear" class="form-control" th:field="*{releaseYear}" placeholder="Yayın yılını giriniz." autofocus="autofocus" required>
                </div>

                <div class="form-group mb-3">
                    <label class="control-label" for="genre">
                        Türü
                    </label>
                    <input id="genre" class="form-control" th:field="*{genre}" placeholder="Film türünü giriniz." autofocus="autofocus" required>
                </div>

                <div class="form-group mb-3">
                    <label class="control-label" for="description">
                        Film Açıklaması
                    </label>
                    <textarea id="description" class="form-control" rows="4" th:field="*{description}" placeholder="Film açıklamasını giriniz." maxlength="1000" autofocus="autofocus" required>
                    </textarea>
                </div>

                <div class="form-group mb-3">
                    <label class="control-label" for="nameOfActors">
                        Oyuncuları Ekle <small>(<b style="color:red;">" , " ile ayırınız.</b> Örn: Ali, Veli)</small>
                    </label>
                    <textarea id="nameOfActors" class="form-control" rows="2" th:field="*{nameOfActors}" placeholder="Örn: Wentworth Miller, Sarah Wayne Callies, Amaury Nolasco" maxlength="255" autofocus="autofocus" required>
                    </textarea>
                </div>

                <div class="form-group mb-3">
                    <label class="control-label">
                        Medya Ekle
                    </label>
                    <input type="url" placeholder="Kapak url ekleyiniz. Örn: https://siteadresi.com"
                           pattern="https://.*" class="form-control" name="media" >
                </div>

                <div class="form-group mb-3">
                    <label class="control-label" for="languageOption">
                        Dil Seçeneği
                    </label>
                    <input id="languageOption" class="form-control" th:field="*{languageOption}" placeholder="Dil seçeneğini giriniz." autofocus="autofocus" required>
                </div>

                <div class="form-group mb-3 d-grid gap-2 col-6 mx-auto">
                    <button type="submit" class="btn btn-success">Filmi Ekle</button>
                </div>






            </form>
        </div>
    </div>
</div>

</body>
</html>