<!DOCTYPE html>
<html lang="en" xmlns:sec="http://www.w3.org/1999/xhtml" xmlns:th="http://www.w3.org/1999/xhtml"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{fragments/layout}" >

<body>


<div layout:fragment="content"  class="container">
    <div class="row">
        <h2><b th:text="${movies.name}"></b></h2>
        <div class="col-8">
            <div class="card bg-dark text-white">
                <img th:src="${movies.media}" th:alt="${movies.name}" class="card-img" width="60%" height="60%">
                <div class="card-img-overlay" style="color: #000000;">
                    <h5 class="card-title"><b th:text="${movies.name}"></b>  |  <small th:text="${movies.languageOption}"></small> </h5>
                    <p class="card-text"><span th:text="${movies.releaseYear}"></span> - <b th:text="${movies.genre}"></b> </p>
                </div>
            </div>
        </div>
        <div class="col-4">
            <div class="col">
                <b>Yayın Tarihi : </b> <span th:text="${movies.releaseYear}"></span><br>
                <b>Tür :</b><span th:text="${movies.genre}"></span><br>
                <b>Dil :</b><span th:text="${movies.languageOption}"></span> <br>
                <hr>
                <b>Oyuncular : </b><br>
                <span th:each="actor : ${movies.actors}">
                    <span th:text="'&#10026; ' + ${actor.name}"></span><br>
                </span>

            </div>
        </div>
    </div>

    <div class="row mt-3">
        <div class="col-8">
            <br><br>
            <span th:text="${movies.description}"></span>
        </div>
        <div class="col-4 d-grid gap-2">
            <a th:href="@{/movies}">
                <button type="button" class="btn btn-dark btn-sm">Filmler listesine geri dön.</button>
            </a><br>
            <a th:href="@{'/movie/delete/'+${movies.id}}" sec:authorize="hasAuthority('ADMIN')" class="btn btn-danger btn-sm">Sil</a>
            <a th:href="@{'/movie/update/'+${movies.id}}" sec:authorize="hasAuthority('ADMIN')" class="btn btn-secondary btn-sm">Düzenle</a>

        </div>
    </div>

</div>


</body>
</html>